body {
    font-family: 'Lato', sans-serif;
    margin: auto;
    text-align: center;
    max-width: 700px;
}

li {
    border-bottom: solid 1px black;
}

li:nth-child(odd) {
    background: #d8e2e6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    border-radius: 12px;
    font-size: 12px;
    float: right;
}

.EditBtn,
.AddBtn {
    background-color: #4CAF50;
}

.DeleteBtn {
    background-color: red;
}

#todoContent,
#newTodoForm {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

#header,
#todoContent,
#newTodoForm {
    margin-top: 50px;
}

#todoContent{
    padding-bottom: 25
}

#newTodoForm{
    padding: auto;
}

#task {
    padding: 40px;
}

#todoActions {
    float: right;
    clear: none;
}

#newTodo{
    border: none;
    border-color: transparent;
    margin-top:5px
}